<div class="mainCardEmp">
  <div class="bigGridBox">
    <div class="companyBox">
      <img [src]="offer.imageURL" alt="">
    </div>
    <div class="detailBox">
      <h2 class="jobTitle">{{offer.title}}</h2>
      <div class="companyName">
        <p>{{offer.name}}</p>
      </div>
      <div class="modalityType">
        <p>Modalidad: {{offer.modality ? 'Presencial' : 'Virtual'}}</p>
      </div>
      <div class="descriptionJob">
        <p>{{offer.description}}</p>
      </div>
    </div>
    <div class="tagBox">
      <div class="iconBox">
        <i (click)="changeicon()" [ngClass]="visible ? 'fa-regular fa-bookmark' : 'fa-solid fa-bookmark'"></i>
      </div>
      <div class="buttonBox">
        <button class="button" (click)="handleOpenModal(offer.id)">Detalles</button>
      </div>
    </div>
  </div>
</div>