body{
    width: 100vw;
    height: 100vh;
    .bigGridBox{
        border-radius: 10px;
        border: 2px solid #61398F;
        background: linear-gradient(136deg, #D6C6E1 0%, #8F6AB9 100%);
        width: 908px;
        height: 180px;
        flex-shrink: 0;
        display: grid;
        grid-template-columns: 150px 2fr 150px;
        grid-template-rows: 1fr;
        margin: auto;
        .companyBox{
            display: grid;
            height: 180px;
            width: 100%;
            justify-items: center;
            align-items: center;
            img{
                width: 82%;
            }
        }
        .detailBox{
            display: grid;
            justify-content: start;
            align-items: center;
        }
        .tagBox{
            display: grid;
            .iconBox{
                display: grid;
                justify-items: end;
                padding-right: 34px;
                padding-top: 16px;
            }
            .buttonBox{
                margin: auto;
                .button{
                    width: 120px;
                    margin: auto;
                    font-size: 19px;
                    padding: 10px;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    background: #61398F;
                    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}
.gridBox{
    display: grid;
    .iconBox{
        display: grid;
        justify-content: end;
        .padding{
            padding-bottom: 5px;
        }
    }
    .modalFirstBox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .companyBox{
            display: grid;
            height: 180px;
            width: 100%;
            justify-items: center;
            align-items: center;
            img{
                width: 55%;
            }
        }
        .infoBox{
            display: grid;
            align-items: center;
            .nameBox{
                font-size: 14px;
                text-align: center;
            }
            .jobType{
                font-size: 17px;
                text-align: center;
                .margin{
                    margin: 27px;
                }
            }
        }
    }
    .modalSecondBox{
        padding: 17px;
        text-align: justify;
    }
    .modalThirdBox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        .button{
            width: 135px;
            margin: auto;
            font-size: 14px;
            padding: 5px;
            color: white;
            border: none;
            border-radius: 10px;
            background: #61398F;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
        }
    }
}